body {
    margin: 0;
}

.head {
    display: flex;
    height: 22em;
    background-color: #972222;
    color: white;
    justify-content: center;
    align-items: center;
    h1 {
        margin: 0;
    }
}
