.content {
    display: flex;
    flex-direction: column;
    margin: 1em;
    h2 {
        background-color: rgb(177, 167, 167);
    }
    form {
        display: flex;
        flex-direction: column;
        margin: 1em;
        input {
            margin: 1em;
        }
        .send {
            color: white;
            background-color: #972222;
        }
    }
}
