.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    .clients {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right: 15em;
    }
    .factures {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    h2 {
        font-size: 1.8em;
    }
    img {
        border: black solid 0.2em;
        width: 20em;
    }
    a {
        color: #972222;
        text-decoration: none;
        margin: 1em;
        font-size: 1.4em;
    }
}
